<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>affiche etudiant</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

<hi>Affiche etudiant</hi>
<table class="table table-striped">
    <tr>
        <th>first name</th>
        <th>last name</th>
        <th>email</th>
        <th>action</th>

    </tr>

    <tbody>

    <tr th:each="variable: ${studentList}">
        <td th:text="${variable.getFirstName()}"></td>
        <td th:text="${variable.getLastName()}"></td>
        <td th:text="${variable.email}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>